<div class="menu-header">
  <div
    style="display: flex; cursor: pointer; margin-left: 20px"
    routerLink="/menu"
  >
    <span style="font-size: 1.5rem; color: #fff; margin-right: 0"
      >Foguete X</span
    >
    <div class="menu-home-logo">
      <img src="assets/foguete-logo.png" alt="" />
    </div>
  </div>
  <div class="card-user" id="card-user">
    <img src="https://i.imgur.com/hczKIze.jpg" />
  </div>
  <div class="card-user-profile display-none" id="card-user-profile">
    <div class="card-user-profile-user">Usuario</div>
  </div>
</div>
